<?xml version="1.0"?>
<config>
	<id>widget community-3-timed-list-with-images</id>
	<type>widget</type>
	<category>
		<main>post</main>
		<sub>latest</sub>
	</category>
	<name>
		<en>Timed Post Latest With Images</en>
		<ko>Timed Post Latest With Images</ko>
	</name>
	<version>0.1</version>
	<author>JaeHo Song</author>
	<email>thruthesky@gmail.com</email>
	<homepage>http://jaehosong.com</homepage>
	<demo>http://philgo.net</demo>
	<short>
		<en>Displays latest post with date of post and an image.</en>
		<ko>Displays latest post with date of post and an image</ko>
	</short>
	<detail>
		<en>Displays latest post with date of post and an image if it exists</en>
		<ko>Displays latest post with date of post and an image if it exists</ko>
	</detail>
</config>
